
@font-face {
  font-family: 'sa-digital-number';
  src: url('fonts/DigitalNumbers-Regular.eot');
  src: url('fonts/DigitalNumbers-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/DigitalNumbers-Regular.woff') format('woff'), url('../fonts/BebasNeue/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeue-webfont.svg#sa-digital-number') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sa-digital-number';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: none transparent;
	color: red;
}

body {
	background: #000;
	background-image: url('img/dark-wood.png');
	background-size: 25%;
}

.clock-container {
	width: 100%;
	height: 100%;
	display: inline-block;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0.325em;
}

.clock-padding {
	margin: 1%;
	margin-top: 0;
	padding-top: 1%;
}

.clock-label {
	font-size: 10pt;
	font-family: sans-serif;
}

.clock-face {
	font-family: "sa-digital-number", sans-serif;
	font-size: 16pt;
	color: #F99;
	text-shadow: 0px 1em 4em rgba(255, 153, 153, 0.5) ;
}

.analogue-clock-container {
	width: 250px;
	height: 250px;
}

.analogue-clock-face {
	height: 100%;
	width: 100%;
	background: #FFF;
	border-radius: 50%;
	border: 5px solid #000;
	position: relative;
}

.analogue-hour-hand {
	width: 3px;
	height: 20%;
	background: #FF0000;
	position: absolute;
	top: 30%;
	left: 50%;
}

.analogue-minute-hand {
	width: 3px;
	height: 40%;
	background: #FF0000;
	position: absolute;
	top: 10%;
	left: 50%;
}

.analogue-second-hand {
	width: 1px;
	height: 40%;
	background: #FF0000;
	position: absolute;
	top: 10%;
	left: 50%;
}

.analogue-hour-hand, .analogue-minute-hand, .analogue-second-hand {
	transform-origin: bottom;
	transition: transform 0.01s ease-in;
}


.12-tick {}
.tick-1 { transform: rotate(30deg); }
.tick-2 { transform: rotate(60deg); }
.tick-3 { transform: rotate(90deg); }
.tick-4 { transform: rotate(120deg); }
.tick-5 { transform: rotate(120deg); }
.tick-5 { transform: rotate(150deg); }
.tick-6 { transform: rotate(180deg); }
.tick-7 { transform: rotate(210deg); }
.tick-8 { transform: rotate(240deg); }
.tick-9 { transform: rotate(270deg); }
.tick-10 { transform: rotate(300deg); }
.tick-11 { transform: rotate(330deg); }

.analogue-tick {
	width: 2px;
	height: 35%;
	border-top: 10px solid #000000;
	transform-origin: bottom;
	position: absolute;
	color: blue;
	top: 10%;
	left: 50%;
}

